@use '../abstracts/functions/color/index' as color;

* {
    border: none;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
    width: auto;
}

html {
    background: color.get-color('white');
    background-repeat: no-repeat;
    background-position: center;
}

body {
  padding: (22 / 17 * 1em);
}
