* {
  font: inherit;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.026em;
  line-height: 1.2941176471;
  font-size: 17px;
}

.typography-1 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.0588235294em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 3;
  overflow: hidden;
}

.typography-2 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.1176470588em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2;
  overflow: hidden;
}

.typography-3 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.1764705882em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6666666667;
  overflow: hidden;
}

.typography-4 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.2352941176em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  overflow: hidden;
}

.typography-5 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.2941176471em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  overflow: hidden;
}

.typography-6 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.3529411765em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.041em;
  line-height: 1.3333333333;
  overflow: hidden;
}

.typography-7 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.4117647059em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.034em;
  line-height: 1.2857142857;
  overflow: hidden;
}

.typography-8 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.4705882353em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.026em;
  line-height: 1.25;
  overflow: hidden;
}

.typography-9 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.5294117647em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.019em;
  line-height: 1.2222222222;
  overflow: hidden;
}

.typography-10 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.5882352941em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.012em;
  line-height: 1.2;
  overflow: hidden;
}

.typography-11 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.6470588235em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.006em;
  line-height: 1.1818181818;
  overflow: hidden;
}

.typography-12 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.7058823529em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.3333333333;
  overflow: hidden;
}

.typography-13 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.7647058824em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.006em;
  line-height: 1.3846153846;
  overflow: hidden;
}

.typography-14 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.8235294118em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.011em;
  line-height: 1.3571428571;
  overflow: hidden;
}

.typography-15 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.8823529412em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016em;
  line-height: 1.3333333333;
  overflow: hidden;
}

.typography-16 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 0.9411764706em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.3125;
  overflow: hidden;
}

.typography-17 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.026em;
  line-height: 1.2941176471;
  overflow: hidden;
}

.typography-18 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.0588235294em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2777777778;
  overflow: hidden;
}

.typography-19 {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.1176470588em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.024em;
  line-height: 1.2631578947;
  overflow: hidden;
}

.typography-20 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.1764705882em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.023em;
  line-height: 1.25;
  overflow: hidden;
}

.typography-21 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.2352941176em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.018em;
  line-height: 1.2380952381;
  overflow: hidden;
}

.typography-22 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.2941176471em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.012em;
  line-height: 1.2727272727;
  overflow: hidden;
}

.typography-23 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.3529411765em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.004em;
  line-height: 1.2608695652;
  overflow: hidden;
}

.typography-24 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.4117647059em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.003em;
  line-height: 1.25;
  overflow: hidden;
}

.typography-25 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.4705882353em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.006em;
  line-height: 1.24;
  overflow: hidden;
}

.typography-26 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.5294117647em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.008em;
  line-height: 1.2307692308;
  overflow: hidden;
}

.typography-27 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.5882352941em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 1.2222222222;
  overflow: hidden;
}

.typography-28 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.6470588235em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.014em;
  line-height: 1.2142857143;
  overflow: hidden;
}

.typography-29 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.7058823529em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.014em;
  line-height: 1.2068965517;
  overflow: hidden;
}

.typography-30 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.7647058824em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.014em;
  line-height: 1.2333333333;
  overflow: hidden;
}

.typography-31 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.8235294118em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.013em;
  line-height: 1.2258064516;
  overflow: hidden;
}

.typography-32 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.8823529412em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.013em;
  line-height: 1.21875;
  overflow: hidden;
}

.typography-33 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 1.9411764706em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.012em;
  line-height: 1.2121212121;
  overflow: hidden;
}

.typography-34 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.012em;
  line-height: 1.2058823529;
  overflow: hidden;
}

.typography-35 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.0588235294em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
  overflow: hidden;
}

.typography-36 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.1176470588em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.1944444444;
  overflow: hidden;
}

.typography-37 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.1764705882em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1891891892;
  overflow: hidden;
}

.typography-38 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.2352941176em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.2105263158;
  overflow: hidden;
}

.typography-39 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.2941176471em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2051282051;
  overflow: hidden;
}

.typography-40 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.3529411765em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.2;
  overflow: hidden;
}

.typography-41 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.4117647059em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1951219512;
  overflow: hidden;
}

.typography-42 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.4705882353em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1904761905;
  overflow: hidden;
}

.typography-43 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.5294117647em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1860465116;
  overflow: hidden;
}

.typography-44 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.5882352941em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1818181818;
  overflow: hidden;
}

.typography-45 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.6470588235em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1777777778;
  overflow: hidden;
}

.typography-46 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.7058823529em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1956521739;
  overflow: hidden;
}

.typography-47 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.7647058824em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1914893617;
  overflow: hidden;
}

.typography-48 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.8235294118em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1875;
  overflow: hidden;
}

.typography-49 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.8823529412em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1836734694;
  overflow: hidden;
}

.typography-50 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 2.9411764706em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.18;
  overflow: hidden;
}

.typography-51 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1764705882;
  overflow: hidden;
}

.typography-52 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.0588235294em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1730769231;
  overflow: hidden;
}

.typography-53 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.1176470588em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1698113208;
  overflow: hidden;
}

.typography-54 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.1764705882em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1851851852;
  overflow: hidden;
}

.typography-55 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.2352941176em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1818181818;
  overflow: hidden;
}

.typography-56 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.2941176471em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1785714286;
  overflow: hidden;
}

.typography-57 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.3529411765em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1754385965;
  overflow: hidden;
}

.typography-58 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.4117647059em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1724137931;
  overflow: hidden;
}

.typography-59 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.4705882353em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1694915254;
  overflow: hidden;
}

.typography-60 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.5294117647em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1666666667;
  overflow: hidden;
}

.typography-61 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.5882352941em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1639344262;
  overflow: hidden;
}

.typography-62 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.6470588235em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1612903226;
  overflow: hidden;
}

.typography-63 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.7058823529em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1587301587;
  overflow: hidden;
}

.typography-64 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.7647058824em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.15625;
  overflow: hidden;
}

.typography-65 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.8235294118em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1538461538;
  overflow: hidden;
}

.typography-66 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.8823529412em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1515151515;
  overflow: hidden;
}

.typography-67 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 3.9411764706em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1492537313;
  overflow: hidden;
}

.typography-68 {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, X-LocaleSpecific, "San Francisco", "Helvetica Neue", "Lucida Grande", "Segoe UI", "Tahoma", "Microsoft Sans Serif", "Roboto", "Droid Sans", "Ubuntu", "Cantarell", "SF Pro Icons", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, serif, system-ui;
  font-size: 4em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.1470588235;
  overflow: hidden;
}

/*# sourceMappingURL=app.css.map */
