@use 'sass:map';
@use 'sass:math';

@use '../../variables/typography/letter-spacing' as variable;


@function calc-track($x) {
  $x: ($x / 1000);
  $e: math.pow(10, 13);
  $x: math.round($x * $e) / $e;
  
  @debug $x;
  @return $x * 1em;
}

@function letter-spacing($font-size, $breakpoint) {
  @if ($breakpoint == 'sm') {
    @if map.has-key(variable.$tracking-sm, $font-size) {
      @return calc-track(map.get(variable.$tracking-sm, $font-size));
    } @else {
      @return letter-spacing(($font-size - 1), 'sm');
    }
  }

  @if ($breakpoint == 'lg') {
    @if map.has-key(variable.$tracking-lg, $font-size) {
      @return calc-track(map.get(variable.$tracking-lg, $font-size));
    } @else {
      @return letter-spacing(($font-size - 1), 'lg')
    }
  }

  
  @return normal;
}
