@use 'abstracts/mixins/typography' as *;

* {
    font: inherit;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:root {
    @include generate-typography(17, 'regular', 'normal');
    
    font-size: 17px;
}

@for $i from 1 through 68 {
    .typography-#{$i} {
        @include generate-typography($i, 'regular', 'normal');

        overflow: hidden;
    }
}
