@use '../abstracts/functions/color' as functionColor;
@use '../abstracts/mixins/typography' as mixinFont;

body { padding: 22px; font-size: 17px; }

.button {
    background: none;
    font: inherit;
}


%button {
    @include mixinFont.generate-typography(17, 'regular', 'normal');

    cursor: pointer;
}

.button {
    @extend %button;

    &__push {
        $shadow-color: rgba(functionColor.color-gray('dark', 2), 0.21);
        $shadow-hover: rgba(functionColor.color-gray('dark', 6), 0.21);
        //$shadow-color: functionColor.color-gray('light', 4);

        border-color: transparent;
        border-radius: (13 / 17 * 1em);
        border-style: solid;
        border-width: (1 / 17 * 1em);
        box-shadow: (3 / 17 * 1em) (8 / 17 * 1em) (21 / 17 * 1em) 0 $shadow-color;
        height: (40 / 17 * 1em);
        line-height: (40 / 17); 
        min-width: ((89 + 20) / 17 * 1em);
        padding: 0 (20 / 17 * 1em);
        text-align: center;

        &:hover {
            box-shadow: 0 0 (8 / 17 * 1em) 0 $shadow-hover;
        }

        &--global {
            background-color: functionColor.color-gray('light', 6);
            border-color: functionColor.color-gray('light', 3);
            color: functionColor.color-gray('dark', 6);
        }

        &--default {
            background-color: functionColor.colored('blue');
            background-image: linear-gradient(to bottom, functionColor.color-dark(functionColor.colored('blue')), functionColor.colored('blue'));
            color: functionColor.color-gray('light', 6);
        }
    }
}


