//  Summary
//
//      1 ~ font-family
//      1.1 ~ fallbacks by Operating System
//      1.2 ~ optimize fallbacks
//      1.3 ~ font-family <= 19 and >= 20
//
//      2 ~ letter-spacing
//      2.1 ~ letter-spacing map

//      3 ~ font-weight
//      3.1  ~ font-weight map








//  [1]
//  [1.1]
$typeface-fallback-macosx-elcapitan: 'San Francisco';
$typeface-fallback-macosx-yosemite: 'Helvetica Neue';
$typeface-fallback-macosx-mavericks: 'Lucida Grande';
$typeface-fallback-windows-vista: 'Segoe UI';
$typeface-fallback-windows-xp: 'Tahoma';
$typeface-fallback-windows-me: 'Microsoft Sans Serif';
$typeface-fallback-android-i: 'Roboto';
$typeface-fallback-android-c: 'Droid Sans';
$typeface-fallback-ubuntu: 'Ubuntu';

//  [1.2]
$typeface-fallback-macosx: $typeface-fallback-macosx-elcapitan, $typeface-fallback-macosx-yosemite, $typeface-fallback-macosx-mavericks;
$typeface-fallback-windows: $typeface-fallback-windows-vista, $typeface-fallback-windows-xp, $typeface-fallback-windows-me;
$typeface-fallback-android: $typeface-fallback-android-i, $typeface-fallback-android-c;
$typeface-fallback-linux: $typeface-fallback-ubuntu, 'Cantarell';
$typeface-fallback-symbols: 'SF Pro Icons', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$typeface-fallback-middle: $typeface-fallback-macosx, $typeface-fallback-windows, $typeface-fallback-android, $typeface-fallback-linux;
$typeface-fallback-prefix: -apple-system, BlinkMacSystemFont, X-LocaleSpecific;
$typeface-fallback-suffix: $typeface-fallback-symbols, sans-serif, serif, system-ui;

$typeface-fallback: $typeface-fallback-prefix, $typeface-fallback-middle, $typeface-fallback-suffix;

//  [1.3]
$typeface-lower: 'SF Pro Text', $typeface-fallback;
$typeface-higher: 'SF Pro Display', $typeface-fallback;

//  [2]
//  [2.1]
$tracking: (
    6: 41,
    7: 34,
    8: 26,
    9: 19,
    10: 12
    11: 6,
    12: 0,
    13: -6,
    14: -11,
    15: -16,
    16: -20,
    17: -26,
    18: -25,
    19: -24,
    20: -23,
    21: -18,
    22: -12,
    23: -4,
    24: 3,
    25: 6,
    26: 8,
    27: 11,
    28: 14,
    30: 14,
    31: 13,
    32: 13,
    33: 12,
    34: 12,
    36: 10,
    38: 10,
    40: 10,
);

//  [3]
//  [3.1]
$weights: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700,

    'normal': 400,
);

