@use 'sass:map';

@use '../variables/typography' as variable;


@function _em($x, $y: 17) { @return (($x / $y) * 1em); }

@function font-family($font-size: 17) {
    $condition: ($font-size <= 19);
    $true: variable.$typeface-lower;
    $false: variable.$typeface-higher;

    @return if($condition, $true, $false);
}

@function font-size($font-size: 17) {
    @return _em($font-size);
}

@function font-style($font-style: 'normal') {
    @return unquote('#{$font-style}');
}

@function font-weight($font-weight-name: 'regular') {
    @if map.has-key(variable.$weights, $font-weight-name) {
        @return map.get(variable.$weights, $font-weight-name);
    } @else {
        @warn '< erro > não existe uma chave com o nome de [ #{$font-weight-name} ] no mapa $weights. retornando [ 400 ]';
        @return map.get(variable.$weights, 'regular');
    }
}

@function letter-spacing($font-size) {
    @if map.has-key(variable.$tracking, $font-size) {
        @return _em(map.get(variable.$tracking, $font-size), 1000);
    } @else {
        @return normal;
    }
}

@function _leading($x, $y) { @return ($x / $y); }

@function line-height($font-size) {
    @if ($font-size <= 11) { @return _leading(($font-size + 2), $font-size); }
    @else if ($font-size <= 12) { @return _leading(($font-size + 4), $font-size); }
    @else if ($font-size <= 21) { @return _leading(($font-size + 5), $font-size); }
    @else if ($font-size <= 29) { @return _leading(($font-size + 6), $font-size); }
    @else if ($font-size <= 37) { @return _leading(($font-size + 7), $font-size); }
    @else if ($font-size <= 45) { @return _leading(($font-size + 8), $font-size); }
    @else if ($font-size <= 53) { @return _leading(($font-size + 9), $font-size); }
    @else { @return _leading(($font-size + 10), $font-size); }
}

