@use '../abstracts/variables/typography' as varFont;
@use '../abstracts/functions/color' as functionColor;
@use '../abstracts/mixins/typography' as mixinFont;

$z: 14;
@function em($x, $y:$z) {@return ($x / $y) * 1em; }

%button-reset {
    background: none;
    border: none;
}


%button {
    @include mixinFont.generate-typography($z, 'medium', 'normal');

    cursor: pointer;
}


.button {
    @extend %button-reset;
    @extend %button;


    &__push {
        $cb: functionColor.color-gray('dark', 6);

        backdrop-filter: saturate(500%) blur(em(8));
        background-color: rgba(white, 0.65);
        border-radius: em(8);
        box-shadow: 0 em(2) em(4) em(-1) rgba($cb, 0.2), 0 em(4) em(5) 0 rgba($cb, 0.14), 0 em(1) em(10) 0 rgba($cb, 0.12);
        color: functionColor.color-gray('dark', 6);
        max-width: em(172, 11);
        overflow: hidden;
        padding: em(9) em(18);
        text-overflow: ellipsis;
        transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
        white-space: nowrap;

        &:hover {
            box-shadow: 0 em(3) em(1) em(-2) rgba($cb, 0.2), 0 em(2) em(2) 0 rgba($cb, 0.14), 0 em(1) em(5) 0 rgba($cb, 0.12);
            transition: all 225ms cubic-bezier(0, 0, 0.2, 1);
        }

        &--global {
            background-color: rgba(functionColor.color-gray('light', 6), 0.55);

            &:hover {
                background-color: mix($cb, rgba(functionColor.color-gray('light', 6), 0.55), 13%);
            }
        }

        &--default {
            background-color: rgba(functionColor.colored('blue'), 0.55);
            color: functionColor.color-gray('light', 6);

            &:hover {
                background-color: mix($cb, rgba(functionColor.colored('blue'), 0.55), 13%);
            }
        }
    }

    &__help {
        @include mixinFont.generate-typography($z, 'regular', 'normal');
        
        background-color: white;
        background-color: functionColor.colored('blue');
        border-radius: em(14);
        color: functionColor.colored('blue');
        color: white;
        display: block;
        font-family: 'Material Icons';
        height: em(28);
        width: em(28);

        padding: 0;

        &::before {
            @include mixinFont.generate-typography(28, 'regular', 'normal');

            content: '\e887';
            display: block;
            font-family: inherit;
            font-size: em(28);
            height: em(28, 28);
            line-height: em(28, 28);
            overflow: hidden;
            padding: 0;
            text-align: center;
            width: em(28, 28);
        }

        &:hover {
            background-color: white;
            color: functionColor.colored('blue');
        }
    }
}

